################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebServer/VisualGDB/Debug/CodeDB/WebServer
/WebServer/.vs/WebServer/v15
/WebServer/WebServer/WebServer-Debug.vgdbsettings
/WebServer/WebServer/WebServer-Release.vgdbsettings
