################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebServer/VisualGDB/Debug/CodeDB/WebServer
/WebServer/.vs/WebServer/v15
/WebServer/WebServer/WebServer-Debug.vgdbsettings
/WebServer/WebServer/WebServer-Release.vgdbsettings
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000019.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000018.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000016.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000015.npa01
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000015.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000014.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000013.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000012.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000011.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000010.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp0000000f.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp0000000e.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp0000000d.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp0000000c.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp0000000b.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000007.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000006.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000005.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000004.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000003.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/tmp00000002.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001/util.npa00
/WebServer/VisualGDB/Debug/CodeDB/WebServer.0001
/WebServer/WebServer/VisualGDB/Debug
/WebServer/WebServer/VisualGDB/VisualGDBCache/WebServer-Debug
